
.color-nav{
background-color: #164D74 !important ;
}
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}
.btn-outline-info:not(:disabled):not(.disabled).active{
    color: #fff;
    background-color: #b3e2cd;
    border-color: #b3e2cd;
}
.btn-outline-info:hover{
    color: #fff;
    background-color: #b3e2cd;
    border-color: #b3e2cd;
}
.colorWhite{
    color: rgb(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.colorWhite{
    color: white;

}
.colorWhite:hover{
    background-color: none;
    
}
