
.btn-primary{
    background-color: #164D74;
    border: none;
    width: 48%;
}
/* rect {

  
    fill: rgb(85, 101, 122);

}rect.active {

  
    fill: rgb(16, 31, 49);

} */
div.dx-c-bs4-container.element.style{
max-height: 300px !important;
}
element.style {
    height: 300px;
}
.tessst{
    max-height: 300px !important;
}